.menu-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu {
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    min-width: fit-content;
    width: 200px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.menu h4 {
    margin-bottom: 10px;
}

h4 {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: rgb(84, 84, 84);
    margin: 0px;
    text-transform: capitalize;
}

h5 {
    text-transform: uppercase;
    width: 100%;
    font-size: 12px;
    margin: 0px;
    color: rgb(84, 84, 84);
}

h3 {
    margin: 5px;
}

.todo {
    flex-grow: 1;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    gap: 15px;
}

.menu p {
    font-weight: 600;
    color: rgb(99, 99, 99);
}

.category {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 4px;
}

.name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.color {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.category-Work .color {
    background-color: rgb(255, 212, 40);
}

.category-Home .color {
    background-color: rgb(253, 88, 88);
}

.category-School .color {
    background-color: rgb(74, 214, 233);
}

.active .category{
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
}

.active .category .number {
    background-color: rgb(241, 241, 241);
}

.category:hover {
    cursor: pointer;
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
}

.category:hover .number {
    background-color: rgb(241, 241, 241);
}

.menu h5 {
    margin-bottom: 5px;
}

.number {
    background-color: rgb(224, 223, 223);
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    font-weight: 600;
    width: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category p {
    margin: 0px;
    font-size: 14px;
}

a {
    text-decoration: none;
    width: fit-content;
}

.auth a {
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    color: rgb(64, 64, 64);
    background-color: rgb(244, 244, 244);
    font-weight: 500;
    text-decoration: none;
    height: fit-content;
}

.auth {
    display: flex;
    gap: 5px;
}