<div class="main">
    Current list:
    <br><br>
    <ng-container *ngIf="(list|async)?.length==0; else showList">
        lista vuota
    </ng-container> 
    <ng-template #showList>
        <ng-container *ngFor="let task of list|async">
            {{task}}
            <br>
            </ng-container>
      </ng-template>
    <form>
        <input type="text" [(ngModel)]="task" name="task" required/>
        <div class="actions">
            <button (click)="onAdd()">Add</button>
            <button (click)="onRemove()">Remove</button>    
        </div>
    </form>
</div>
